<div class="span8 alert alert-success alert-block">

  <div class="span2">
    <i class="icon-thumbs-up-alt icon-4x"></i>
  </div>

  <div class="span10">

    <p><%= t 'start.import.success' %></p>
    <p><%= t 'start.import.retry_html', attributes: 'data-import-subscriptions' %></p>

  </div>

</div>

