<%# Alert displayed when the feed selected has no entries %>
<div id="no-entries" class="row-fluid hidden">
  <div class="span10 offset1 alert">
    <button type="button" class="close" data-hide>&times;</button>
    <p><%= t 'feeds.index.no_entries' %></p>
    <p><em><%= t 'layouts.application.closing_timer_html' %></em></p>
  </div>
</div>

<%# Alert displayed when there is a problem refreshing feeds %>
<div id="problem-refreshing" class="row-fluid hidden">
  <div class="span10 offset1 alert alert-error">
    <button type="button" class="close" data-hide>&times;</button>
    <p><%= t 'feeds.index.problem_refreshing' %></p>
    <p><em><%= t 'layouts.application.closing_timer_html' %></em></p>
  </div>
</div>