<div class="row-fluid buttonbar">
  <div class="span3">
    <a class="btn btn-inverse" data-target="#subscribe-feed" data-toggle="modal">
      <i class="icon-plus"></i> <%= t 'feeds.index.subscribe_button' %>
    </a>
  </div>

  <div class="span2">
    <a class="btn btn-primary disabled" data-refresh-feed id="refresh-feed">
      <i class="icon-repeat"></i> <%= t 'feeds.index.refresh' %>
    </a>
  </div>
</div>
<hr>