<div class="row-fluid buttonbar">
  <div class="span3">
    <a id="add-subscription" class="btn btn-inverse" data-target="#subscribe-feed-popup" data-toggle="modal">
      <i class="icon-plus"></i> <%= t 'feeds.index.subscribe_button' %>
    </a>
  </div>

  <div class="span2">
    <a id="refresh-feed" class="btn btn-primary disabled hidden" data-refresh-feed>
      <i class="icon-repeat"></i> <%= t 'feeds.index.refresh' %>
    </a>
  </div>
  <div class="span2">
    <a id="unsubscribe-feed" class="btn btn-danger disabled hidden" data-unsubscribe-feed data-unsubscribe-path
       data-target="#unsubscribe-feed-popup" data-toggle="modal">
      <i class="icon-remove-sign"></i> <%= t 'feeds.index.unsubscribe' %>
    </a>
  </div>
</div>
<hr>