<div class="row-fluid buttonbar">
  <div class="span3">
    <a class="btn btn-inverse" id="suscribe-feed"><i class="icon-search"></i> <%= t 'feeds.index.suscribe' %></a>
  </div>

  <div class="span2">
    <a class="btn btn-primary disabled" data-refresh-feed id="refresh-feed">
      <i class="icon-repeat"></i> <%= t 'feeds.index.refresh' %>
    </a>
  </div>
</div>
<hr>