<div class="row-fluid buttonbar">
  <div class="span3">

  </div>

  <div class="span9">
    <a class="btn btn-primary" data-refresh-feed><i class="icon-repeat"></i> <%= t 'feeds.index.refresh' %></a>
  </div>
</div>
<hr>