<div id="sidebar">
  <ul class="nav nav-list">
    <li class="active"><a id="start-page"><%= t 'feeds.index.start' %></a></li>
  </ul>

  <hr>

  <ul class="nav nav-tabs nav-stacked">

    <%= render 'feeds/sidebar_folder', feeds: @feeds, title: t('feeds.index.all_feeds'), folder_id: 'all' %>

    <% @folders.each do |folder| %>
      <%= render 'feeds/sidebar_folder', feeds: folder.feeds, title: folder.title, folder_id: folder.id %>
    <% end %>

  </ul>
</div>