<ul class="nav nav-tabs nav-stacked">

  <li>
    <a href="#" data-toggle="collapse" data-target="#tech" class="menu-level1">
      <i class="folder icon-folder-close-alt"></i> Tech<i class="arrow icon-chevron-right pull-right"></i>
    </a>
    <ul class="nav nav-list collapse" id="tech">
      <li><a href="#" class="feed"><i class="icon-rss"></i> Perry Bible Fellowship</a></li>
      <li><a href="#" class="feed"><i class="icon-rss"></i> XKCD</a></li>
      <li><a href="#" class="feed"><i class="icon-rss"></i> Broodhollow</a></li>
    </ul>
  </li>

  <li>
    <a href="#" data-toggle="collapse" data-target="#webcomics" class="menu-level1">
      <i class="folder icon-folder-open-alt"></i> Webcomics<i class="arrow icon-chevron-down pull-right"></i>
    </a>
    <ul class="nav nav-list collapse in" id="webcomics">
      <li><a href="#" class="feed"><i class="icon-rss"></i> Perry Bible Fellowship</a></li>
      <li class="active"><a href="#" class="feed"><i class="icon-rss"></i> XKCD</a></li>
      <li><a href="#" class="feed"><i class="icon-rss"></i> Broodhollow</a></li>
    </ul>
  </li>

  <li>
    <a href="#" data-toggle="collapse" data-target="#politics" class="menu-level1">
      <i class="folder icon-folder-close-alt"></i> Politics<i class="arrow icon-chevron-right pull-right"></i>
    </a>
    <ul class="nav nav-list collapse" id="politics">
      <li><a href="#" class="feed"><i class="icon-rss"></i> Perry Bible Fellowship</a></li>
      <li ><a href="#" class="feed"><i class="icon-rss"></i> XKCD</a></li>
      <li><a href="#" class="feed"><i class="icon-rss"></i> Broodhollow</a></li>
    </ul>
  </li>

</ul>