<%= render 'buttonbar' %>

<div class="row-fluid">

  <div class="span3">
    <%= render 'sidebar' %>
  </div>

  <div class="span9">

    <div class="hidden" id="feed-title">
      <strong class="lead">
        <a target="_blank"></a>
      </strong>
      <hr>
    </div>

    <div id="loading" class="offset1 hidden"><%= t '.loading' %></div>

    <ul class="nav nav-tabs nav-stacked" id="feed-entries">
      <li>PLACEHOLDER TEXT</li>
    </ul>

  </div>
</div>