<div class="row-fluid">

  <div class="span3">
    <%= render 'sidebar' %>
  </div>

  <div class="span9">
    <%# TODO make the "feed" variable dynamically use the currently selected feed %>
    <% feed = Feed.first %>
    <h2><%= feed.title %></h2>
  </div>

</div>
