<% cache "subscriptions_alerts-#{I18n.locale}" do %>

  <%# Alert displayed when a subscription is added successfully %>
  <div id="success-subscribe-feed" class="alert alert-success" ng-show="success_subscribe">
    <button type="button" class="close" ng-click="reset_flag('success_subscribe')">&times;</button>
    <p><%= t 'read.alerts.success_subscribing' %></p>
  </div>

  <%# Alert displayed when there is a problem adding a subscription %>
  <div id="problem-subscribing" class="alert alert-danger" ng-show="error_subscribing">
    <button type="button" class="close" ng-click="reset_flag('error_subscribing')">&times;</button>
    <p><%= t 'read.alerts.problem_subscribing' %></p>
  </div>

  <%# Alert displayed when there is a problem unsubscribing from a feed %>
  <div id="problem-unsubscribing" class="alert alert-danger" ng-show="error_unsubscribing">
    <button type="button" class="close" ng-click="reset_flag('error_unsubscribing')">&times;</button>
    <p><%= t 'read.alerts.problem_unsubscribing' %></p>
  </div>

  <%# Alert displayed when the url the user attempted to subscribe is blacklisted %>
  <div id="blacklisted-url" class="alert alert-danger" ng-show="blacklisted_url">
    <button type="button" class="close" ng-click="reset_flag('blacklisted_url')">&times;</button>
    <p><%= t 'read.alerts.blacklisted_url' %></p>
  </div>

<% end %>