*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*.log
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/database.yml
config/initializers/secret_token.rb
config/secrets.yml
.idea/*
coverage/*
redis-sidekiq/*.aof
redis-sidekiq/*.rdb
redis-cache/*.aof
redis-cache/*.rdb
opml_imports/*
opml_exports/*
.yardoc/*
doc/
config/newrelic.yml
rack_cache/metastore/*/*
rack_cache/entitystore/*/*
