*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*.log
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/database.yml
config/initializers/secret_token.rb
config/secrets.yml
.idea/*
coverage/*
redis/*.aof
redis/*.rdb
opml_imports/*
opml_exports/*