<%# Notice displayed when the import process finishes successfully %>
<div id="import-process-success" ng-show="success_importing">
  <div class="alert alert-success">
    <button type="button" class="close" data-hide>&times;</button>
    <p><%= t 'start.import.finish_success' %></p>
  </div>
</div>

<%# Notice displayed when the import process finishes with an error %>
<div id="import-process-error" ng-show="error_importing">
  <div class="alert alert-danger">
    <button type="button" class="close" data-hide>&times;</button>
    <p><%= t 'start.import.finish_error' %></p>
  </div>
</div>

<%# Alert displayed when there is a problem getting the import process status %>
<div id="problem-updating-import-status" ng-show="error_loading_import_status">
  <div class="alert alert-danger">
    <button type="button" class="close" data-hide>&times;</button>
    <p><%= t 'start.import.problem_updating' %></p>
  </div>
</div>
