<div class="panel-group"
     id="feed-entries"
     infinite-scroll="read_entries_page()"
     infinite-scroll-disabled="loading_entries_busy"
     infinite-scroll-distance="1">
  <div ng-repeat="entry in entries"
       id="entry-{{entry.id}}"
       class="panel panel-default entry">

    <a data-toggle="collapse"
       data-target="#entry-{{entry.id}}-summary"
       data-parent="#feed-entries"
       data-entry-id="{{entry.id}}"
       class="list-group-item"
       ng-class="{'entry-read':entry.read && !entry.changing_state, 'entry-unread': !entry.read && !entry.changing_state, 'entry-becoming-read':entry.read && entry.changing_state, 'entry-becoming-unread':!entry.read && entry.changing_state}"
       ng-click="read_entry(entry)">
      {{entry.title}}
      <span class="pull-right">{{entry.published}}</span>
    </a>

    <%# Entry summary, initially collapsed %>
    <div class="panel-collapse collapse"
         id="entry-{{entry.id}}-summary">
      <div class="panel-body entry-content">
        <p class="lead">
          <a href="{{entry.url}}" target="_blank">
            {{entry.title}} <i class="icon-external-link"></i>
          </a>

          <a class="btn btn-default btn-sm pull-right" ng-click="unread_entry()">
            <i class="icon-eye-close"></i>&nbsp;<%= t 'entries.index.mark_unread' %>
          </a>
        </p>

        <p class="hidden">{{entry.guid}}</p>
        <p ng-show="entry.content.length > 0" ng-bind-html-unsafe="entry.content"></p>
        <p ng-hide="entry.content.length > 0" ng-bind-html-unsafe="entry.summary"></p>
      </div>
    </div>
  </div>
</div>