.top-alert{
  position:fixed;
  z-index: 2000;
  width: 100%;
  top:0;
}

.bottom-alert{
  position:fixed;
  z-index: 2000;
  width: 100%;
  bottom:0;

  .alert {
    font-family: Ubuntu;
    margin: 0px;
    width: 100%;
  }
}

#cookie-notice {
  .close {
    opacity: 1;
  }
}