.job-feed-title {
  font-family: Ubuntu;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: middle;
}

#import-failures {
  word-wrap: break-word;
}