@media (max-width: $screen-sm-min) {
  .locale-dropdown {
    margin-top: 15px;
  }
}

@media (min-width: $screen-sm-min) {
  .locale-dropdown {
    margin-top: 25px;
  }
}

.locale-dropdown {
  float: right;
  margin: {
    right: 45px;
  }
}

.locale-flag {
  margin-bottom: 3px;
}