#profile-view {

  .edit-registration-header {
    margin-top: 0;
    font-family: Ubuntu-medium;
    font-size: 48px;
  }

  .panel-heading .lead {
    font-family: Ubuntu-medium;
    font-size: 22px;
  }

  .panel-content {
    padding: 0px;
  }
}
