<div class="col-md-8 alert alert-block">

  <div class="col-md-2">
    <i class="icon-magic icon-4x"></i>
  </div>

  <div class="col-md-10">

    <p><%= t 'start.import.introduction' %></p>
    <ol class="icons-ul">
      <li>
        <i class="icon-angle-right"></i>
        <%= t 'start.import.download_data_html', google_url: 'https://www.google.com/takeout/#custom:reader' %>
      </li>
      <li>
        <i class="icon-angle-right"></i>
        <%= t 'start.import.import_data_html', id: "start-data-import", attributes: 'data-import-subscriptions' %>
      </li>
    </ol>

  </div>

</div>