#about {
  background-color: rgba(238, 238, 238, 0.95);

  .panel-heading {
    padding: 0;
  }

  .panel-title {
    a {
      display: block;
      width: 100%;
      margin-bottom: 0;
      padding: {
        top: 10px;
        bottom: 10px;
        left: 15px;
        right: 15px;
      }
    }

    a:hover {
      background-color: #d3d3d3;
    }
  }

  .panel-body {
    background-color: rgba(240,240,240,0.9);

    #contact-list {
      font-size: 21px;
      font-weight: 200;

      li {
        margin-bottom: 15px;
      }

      .contact {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }
    }
  }
}
