/* Fix for background-size: cover not working in Chrome for Android */

html{
  height:100%;
  min-height:100%;
}
body{
  min-height:100%;
}

.page-with-bg-image body {
  background: image-url('background.jpg') no-repeat fixed center center / cover;
  background-color: transparent;
}
