@media (max-width: $screen-sm-min) {
  #devise-view {
    padding-top: 15px;
    text-align: center;

    .jumbotron {

      padding: {
        left: 1px;
        right: 1px;
      }

      hr {
        margin: {
          top: 0;
          bottom: 15px;
        }
      }

      form {
        margin: {
          left: -15px;
          right: -15px;
        }
      }
    }

    .lead {
      font-size: 30px;
      padding-top: 20px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  #devise-view {
    padding-top: 50px;

    .lead {
      font-size: 48px;
    }
  }
}

#devise-view {

  .jumbotron {
    background-color: rgba(238, 238, 238, 0.95);

    img.logo {
      max-width: 100%;
    }

    .lead {
      font-family: Ubuntu-medium;
      text-align: center;
    }
  }

}
