.edit-registration-header {
  margin-top: 0;
}

@media (max-width: $screen-sm-min) {
  #devise-view {
    padding-top: 15px;
    text-align: center;

    .branding {
      display: none;
    }

    .jumbotron {

      padding: {
        left: 1px;
        right: 1px;
      }

      .page-header {
        margin-bottom: 0;
      }

      hr {
        margin: {
          top: 0;
          bottom: 15px;
        }
      }

      form {
        margin: {
          left: -15px;
          right: -15px;
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  #devise-view {
    padding-top: 50px;
  }
}


#devise-view {

  .page-header {

    h1 {
      font-size: 36px;
    }

    img {
      margin-right: 10px;
      max-width: 20%;
    }
  }

  #accept-invitation-message {
    margin: {
      left: -45px;
      right: -45px;
    }
  }
}