.edit-registration-header {
  margin-top: 0;
}

@media (max-width: $screen-sm-min) {
  #devise-view {
    .branding {
      display: none;
    }
  }
}

#devise-view {

  #devise-locale-dropdown {
    position: fixed;
    top: -20px;
    width: 100%;
    padding-right: 40px;
  }

  .page-header {
    img {
      margin-right: 10px;
      max-width: 20%;
    }
  }
}