.entry [class^="icon-"] {
  text-decoration: none;
}

#feed-entries .entry{
  margin-top: -1px;
  margin-bottom: -1px;
}

.entry a.entry-unread{
  background-color: #F5F5F5;
}

.entry a.entry-becoming-unread{
  background-color: #F2F7E6;
}

.entry a.entry-read{
  background-color: #e6ffce;
}

.entry a.entry-becoming-read{
  background-color: #EAFFD6;
}

.entry a.entry-read:hover{
  background-color: #d6ffac;
}

.entry a.entry-becoming-read:hover{
  background-color: #d6ffac;
}

.entry a.entry-unread:hover{
  background-color: #E8E8E8;
}

.entry a.entry-becoming-unread:hover{
  background-color: #E8E8E8;
}

.entry-content{
  padding: 20px;
}

.entry-title  {
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}

.entry-toolbar {
  margin-bottom: 20px;
}

#no-entries{
  margin-top: 0.5em;
  font-size: 5em;
  line-height: normal;
  color: #8F8F8F;
  text-align: center;
}