#feed-entries {
  margin-bottom: 1em;
}

.entry [class^="fa-"] {
  text-decoration: none;
}

#feed-entries .entry {
  margin-top: -1px;
  margin-bottom: -1px;
}

#feed-entries .entry > a {
  padding-bottom: 5px;
}

.entry a.entry-unread{
  background-color: #F5F5F5;
}

.entry a.entry-becoming-unread{
  background-color: #F2F7E6;
}

.entry a.entry-read{
  background-color: #e6ffce;
}

.entry a.entry-becoming-read{
  background-color: #EAFFD6;
}

.entry a.entry-read:hover{
  background-color: #d6ffac;
}

.entry a.entry-becoming-read:hover{
  background-color: #d6ffac;
}

.entry a.entry-unread:hover{
  background-color: #E8E8E8;
}

.entry a.entry-becoming-unread:hover{
  background-color: #E8E8E8;
}

.entry-content{
  padding: 20px;
}

.entry-title  {
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 55%;
}

.entry-feed-title  {
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20%;
}

.entry-toolbar {
  margin-bottom: 20px;
}

#no-entries{
  margin-top: 0.5em;
  font-size: 5em;
  line-height: normal;
  color: #8F8F8F;
  text-align: center;
}

#feed-entries .entry > a.entry-anchor {
  visibility: hidden;
  display:block;
  position: relative;
  top: -93px;
  padding-bottom: 0;
  margin: 0;
}

.entry-content img {
  vertical-align: baseline;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 100%;
}

.entry-lead {
  margin-bottom: 5px;
}

.entry-feed-link {
  margin-bottom: 10px;
  font-style: italic;
}