// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  cursor: hand; cursor: pointer;
}

#loading{
  margin-top: 1em;
  font-size: 5em;
  line-height: normal;
  color: #8F8F8F;
  text-align: center;
}

.accordion-group{
  border: none;
}