// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  cursor: hand; cursor: pointer;
}

#loading{
  margin-top: 0.5em;
  font-size: 5em;
  line-height: normal;
  color: #8F8F8F;
  text-align: center;
}

.accordion-group{
  border: none;
}

[data-sidebar-feed] i {
  margin-top: 4px;
}

.sidebar-feed-title{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}

[data-folder-id] .panel-body {
  padding: 8px;
}

[data-folder-id] .panel-body li a {
  padding-top: 15px;
}

[data-folder-id] .panel-body li a .badge {
  padding-top: 6px;
}
