// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-content{
  padding: 10px;
}

.buttonbar{
  margin-top: 20px;
}

a.feed-entry{
  background-color: #F5F5F5;
}