#loading,
#no-entries{
  margin-top: 0.5em;
  font-size: 4em;
  line-height: normal;
  color: #8F8F8F;
  text-align: center;
}

#feed-title {
  padding: {
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 10px;
  }

  .lead {
    margin: 0;

    a.feed-title-link {
      display:inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}

#feed-title-hr {
  margin-top: 0;
}