/* Large, easily clickable feed title in tablets and smartphones */
@media (max-width: $screen-md-min) {

  #feed-title {
    padding: {
      top: 31px;
      bottom: 12px;
    }
  }
}

/* Smaller feed title in larger screens */
@media (min-width: $screen-md-min) {

  #feed-title {
    padding: {
      top: 20px;
      bottom: 1px;
    }
  }
}

#loading,
#no-entries{
  margin-top: 0.5em;
  font-size: 4em;
  line-height: normal;
  color: #8F8F8F;
  text-align: center;
}

#feed-title {
  padding: {
    left: 20px;
    right: 20px;
  }

  .lead {
    font-family: Ubuntu-medium;
    font-size: 21px;
    margin: 0;

    .feed-title-text {
      display:inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
}

#feed-title-hr {
  margin-top: 0;
}
