#footer {
  margin-bottom: 1em;
  text-align: center;

  a {
    color: #787878;
  }

  #github-footer-link, #twitter-footer-link {
    + .tooltip.top {
      margin-top: -15px;
    }
  }

  #email-footer-link {
    font-size: 2em;
    text-decoration: none;
  }
}