@media (min-width: $screen-sm-min) {
  #footer {
    margin-top: 50px;
  }
}

#footer {

  opacity: 0.9;

  .credit-line {
    margin-bottom: -15px;

    p {
      font-size: 12px;
    }

    p.lead {
      font-size: 16px;
    }
  }
}
