body.navbar-visible{
  padding-top: 50px;
}

.navbar {
  .navbar-header img {
    margin-top: -5px;
  }

  .navbar button {
    margin: {
      top: 5px;
      bottom: 5px;
    }
  }

  button#toggle-sidebar-hidden {
    padding: {
      left: 7px;
      right: 8px;
    }
  }

  .navbar-toggle-left {
    margin-left: 15px;
  }

  .navbar-toggle-right {
    padding: {
      left: 14px;
      right: 14px;
    }
  }
}