/* TODO Delete this file when open beta ends and warning is removed */

@media (max-width: $screen-sm-min) {
    #open-beta-warning{
      margin: {
        left: -15px;
        right: -15px;
      }
    }
  }