@media (max-width: $screen-sm-min) {
  #pages-html {
    background: image-url('glasses_768x512.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  #pages-html {
    background: image-url('glasses_992x661.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
  #pages-html {
    background: image-url('glasses_1200x800.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media (min-width: $screen-lg-min) {
  #pages-html {
    background: image-url('glasses_1920x1280.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

.index-jumbotron {
  margin-top: 1em;
}

@media (max-width: $screen-sm-min) {
  #landing-page {
    #registration-links {
      text-align: center;

      #sign_up_button {
        display: block;
      }

      #sign_in {
        display: block;
      }
    }
  }
}

#landing-page {
  .page-header {
    img {
      margin-right: 10px;
      max-width: 20%;
    }

    #registration-links {
      padding-top: 20px;
    }
  }
}