.modal-header h3 {
  font-family: Ubuntu-medium;
  font-size: 30px;
}

.import-popup-info{
  margin-top: 0.2em;
}

#help-feedback-popup {
  ul.fa.fa-ul {
    a {
      font-family: Ubuntu;
      line-height: 1.5;
    }
  }
}