#sidebar-column {
  overflow-y: auto;
  padding-bottom: 10px;
  position: fixed;
  top:50px;
  bottom:0;
  background-color: #FFFFFF;
}

/* Large, easily clickable feeds and folders in smartphones */
@media (max-width: $screen-md-min) {

  #sidebar {

    #folders-list {
      a[data-sidebar-feed],
      a[data-sidebar-folder] {
        padding: {
          top: 16px;
          bottom: 16px;
        }
      }
    }

    #start-page {
      padding: {
        top: 16px;
        bottom: 16px;
      }
    }
  }
}

/* Smaller feed in larger screens */
@media (min-width: $screen-md-min) {

  #sidebar {

    #folders-list {
      a[data-sidebar-feed] {
        padding: {
          top: 5px;
          bottom: 5px;
        }
      }
    }

    #start-page {
      padding: {
        top: 5px;
        bottom: 5px;
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  #sidebar-column {
    padding: {
      left: 5px;
      right:5px;
    }
  }
}

#sidebar {

  .sidebar-spinner {
    margin-left: 45%;
  }

  #start-page {
    margin-top: 20px;
    padding: {
      left: 15px;
      right: 15px;
    }
  }

  hr {
    margin: {
      top: 8px;
      bottom: 8px;
    }
  }

  #folders-list {
    margin-bottom: 1em;

    #folder-none {
      padding: {
        left: 8px;
        right:8px;
        bottom:8px;
      }
    }

    [data-folder-id] .panel-body {
      padding: 8px;
    }

    a[data-sidebar-feed] {
      padding: {
        left: 0;
        right:0;
      }
    }

    a[data-sidebar-feed],
    a[data-sidebar-folder] {

      .col-icon {
        padding: {
          left: 10px;
          right: 0;
        }
      }

      .col-title {
        padding: {
          left: 10px;
          right: 5px;
        }
      }

      .col-badge {
        padding: {
          left: 0;
          right: 0;
        }
        margin-right: 10px;
        text-align: right;

        .badge {
          padding-bottom: 4px;
        }
      }
    }

    .folder-arrow {
      margin-top: 6px;
      width: 13px;
    }

    .folder-unread-badge {
      margin: {
        top: 3px;
        right: 0;
      }
    }

    .folder-icon,
    .feed-icon {
      margin-top: 6px;
    }

    .sidebar-folder{
      background-color: #F5F5F5;
      padding: {
        top: 5px;
        bottom: 5px;
        left: 0;
        right: 0;
      }
    }

    a.sidebar-folder:hover{
      background-color: #E8E8E8;
    }

    .folder-panel{
      margin: {
        top: -1px;
        bottom: -1px;
      }
    }

    .sidebar-feed-title,
    .sidebar-folder-title{
      display:inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      padding-left: 5px;
      vertical-align: middle;
    }

    .sidebar-feed-title {
      height: 23px;
    }

    .sidebar-folder-title {
      height: 24px;
    }
  }
}