.folder-arrow {
  margin-top: 4px;
}

a.sidebar-folder{
  background-color: #F5F5F5;
}

a.sidebar-folder:hover{
  background-color: #E8E8E8;
}

#folders-list .folder-panel{
  margin-top: -1px;
  margin-bottom: -1px;
}