#sidebar-column {
  overflow-y: auto;
  padding-bottom: 10px;
  position: fixed;
  top:50px;
  bottom:0;
  background-color: #FFFFFF;
}

/* In smartphones the sidebar visibility can be toggled. The hiding/showing is animated. */

@media (max-width: $screen-sm-min) {

  #sidebar-column {
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    transition-property:transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    z-index: 1;
  }

  #sidebar-column.sidebar-hidden-xs {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  #entries-column {
    z-index: 0;
  }
}

/* Large, easily clickable feeds and folders in smartphones */
@media (max-width: $screen-md-min) {

  #sidebar {

    #folders-list {
      a[data-sidebar-feed],
      a[data-sidebar-folder] {
        padding: {
          top: 16px;
          bottom: 16px;
        }
      }
    }

    #start-page {
      padding: {
        top: 16px;
        bottom: 16px;
      }
    }
  }
}

/* Smaller feed in larger screens */
@media (min-width: $screen-md-min) {

  #sidebar {

    #folders-list {
      a[data-sidebar-feed] {
        padding: {
          top: 5px;
          bottom: 5px;
        }
      }
    }

    #start-page {
      padding: {
        top: 5px;
        bottom: 5px;
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  #sidebar-column {
    padding: {
      left: 5px;
      right:5px;
    }
  }
}

#sidebar {

  .sidebar-spinner {
    margin-left: 45%;
  }

  #start-page {
    margin-top: 20px;
    padding: {
      left: 15px;
      right: 15px;
    }
  }

  hr {
    margin: {
      top: 8px;
      bottom: 8px;
    }
  }

  #folders-list {
    margin-bottom: 1em;

    #folder-none {
      padding: {
        left: 8px;
        right:8px;
        bottom:8px;
      }
    }

    [data-folder-id] {
      .folder-content {
        height: 0;
        overflow:  hidden;
        padding: {
          left: 8px;
          right: 8px;
        }
      }

      .folder-content.open-folder {
        height: auto;
        padding: {
          top: 8px;
          bottom: 8px;
        }
      }
    }

    /* Feed insertions/removals in the sidebar are animated */

    .sidebar-feed {
      -webkit-transition-property:opacity;
      -webkit-transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-property:opacity;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      opacity: 1;
    }

    .sidebar-feed.ng-leave {
      opacity: 1;
    }

    .sidebar-feed.ng-move,
    .sidebar-feed.ng-enter {
      opacity: 0;
    }

    a[data-sidebar-feed] {
      padding: {
        left: 0;
        right:0;
      }
    }

    a[data-sidebar-feed],
    a[data-sidebar-folder] {

      .col-icon {
        padding: {
          left: 10px;
          right: 0;
        }
      }

      .col-title {
        padding: {
          left: 10px;
          right: 5px;
        }
      }

      .col-badge {
        padding: {
          left: 0;
          right: 0;
        }
        margin-right: 10px;
        text-align: right;
      }
    }

    /* Animation when opening/closing sidebar folders (the folder arrow rotates 90 degrees) */
    .folder-arrow {
      margin-top: 4px;
      width: 13px;
    }

    .folder-unread-badge {
      margin: {
        top: 2px;
        right: 0;
      }
    }

    .folder-icon,
    .feed-icon {
      margin-top: 4px;
    }

    .sidebar-folder{
      background-color: #F5F5F5;
      border-radius: 0;
      padding: {
        top: 5px;
        bottom: 5px;
        left: 0;
        right: 0;
      }
    }

    a.sidebar-folder:hover{
      background-color: #E8E8E8;
    }

    /* Animate folders entering/leaving the sidebar */

    .folder-panel{
      -webkit-transition-property:opacity;
      -webkit-transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-property:opacity;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      margin: {
        top: -1px;
        bottom: -1px;
      }
      opacity: 1;
    }

    .folder-panel.ng-leave {
      opacity: 1;
    }

    .folder-panel.ng-move,
    .folder-panel.ng-enter {
      opacity: 0;
    }

    .sidebar-feed-title,
    .sidebar-folder-title{
      display:inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      padding-left: 5px;
      vertical-align: middle;
    }
  }
}