#sidebar-column {
  overflow-y: auto;
  padding-bottom: 10px;
  position: fixed;
  top:50px;
  bottom:0;
  background-color: #FFFFFF;
}

#sidebar #start-page {
  margin-top: 20px;
}

#folders-list {
  margin-bottom: 1em;
}

#sidebar a[data-sidebar-feed] .col-icon {
  padding-left: 10px;
  padding-right: 0;
}

#sidebar a[data-sidebar-feed] .col-feed-title,
#sidebar a[data-sidebar-feed] .col-folder-title {
  padding-left: 10px;
  padding-right: 5px;
}

#sidebar a[data-sidebar-feed] .col-badge {
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;
  text-align: right;
}

.folder-arrow {
  margin-top: 6px;
  width: 13px;
}

.folder-unread-badge {
  margin-top: 4px;
  margin-right: 10px;
}

.folder {
  margin-top: 5px;
}

a.sidebar-folder{
  background-color: #F5F5F5;
  padding-top: 5px;
  padding-bottom: 5px;
}

a.sidebar-folder:hover{
  background-color: #E8E8E8;
}

#folders-list .folder-panel{
  margin-top: -1px;
  margin-bottom: -1px;
}

.sidebar-folder-title{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 55%;
  margin-top: 2px;
}

#sidebar hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

#sidebar .sidebar-spinner {
  margin-left: 45%;
}