.folder-arrow {
  margin-top: 5px;
  width: 13px;
}

.folder-unread-badge {
  margin-top: 4px;
  margin-right: 10px;
}

.folder {
  margin-top: 4px;
}

a.sidebar-folder{
  background-color: #F5F5F5;
}

a.sidebar-folder:hover{
  background-color: #E8E8E8;
}

#folders-list .folder-panel{
  margin-top: -1px;
  margin-bottom: -1px;
}

.sidebar-folder-title{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
  margin-top: 2px;
}
