@media (max-width: $screen-sm-min) {
  h1 {
    text-align: center;
  }

  img.logo {
    display: block;
    margin: 0 auto;
  }

}

#start-info {
  .start-list {
    padding: 0;
  }

  img.logo {
    max-width: 100%;
    vertical-align: middle;
    margin-top: 1em;
  }

  #subscription-stats {
    opacity: 0;
    height: auto;
  }
}