<% cache "entries_alerts-#{I18n.locale}" do %>

  <%# Alert displayed when there is a problem changing an entry's read/unread state %>
  <div id="problem-entry-state-change" class="alert alert-danger" ng-show="error_changing_entry_state">
    <button type="button" class="close" ng-click="reset_flag('error_changing_entry_state')">&times;</button>
    <p><%= t 'read.alerts.problem_entry_state' %></p>
  </div>

<% end %>