<div id="folder-none">

  <%# Content of the folder %>
  <ul class="nav nav-pills nav-stacked">
    <%= render 'read/sidebar/sidebar_read_all' %>
    <%= render 'read/sidebar/sidebar_feed' %>
  </ul>

  <%# Animated spinner while feeds are loading %>
  <i class="fa fa-spinner fa-spin" ng-show="!feeds_loaded"></i>

</div>