<li class="sidebar-feed"
    ng-repeat="feed in feeds | filter:feed_in_folder(folder.id) | orderBy:'title'"
    ng-class="{active: current_feed.id==feed.id}">
  <a data-sidebar-feed
     data-feed-id="{{feed.id}}"
     data-folder-id="{{feed.folder_id}}"
     ng-click="set_current_feed(feed.id)">

    <div class="row">

      <div class="col-xs-1 hidden-sm col-icon">
        <i class="feed-icon fa fa-rss"></i>
      </div>

      <div class="col-xs-8 col-title">
        <span class="sidebar-feed-title">{{feed.title}}</span>
      </div>

      <div class="col-xs-2 col-sm-3 col-md-2 pull-right col-badge">
        <span class="badge">{{feed.unread_entries | numberBadgeFltr}}</span>
      </div>
    </div>
  </a>
</li>