<li id="folder-{{folder.id}}-all-feeds">
  <a data-sidebar-feed
     data-feed-id="all"
     data-feed-path="{{folder.path}}"
     data-feed-title="<%= t 'feeds.index.all_entries' %>">
    <em><strong>
      <i class="icon-rss"></i> <%= t 'feeds.index.all_entries' %></strong></em>&nbsp;&nbsp;&nbsp;<i class="icon-spinner hidden"></i>
    <span class="badge pull-right">{{folder.unread_entries}}</span>
  </a>
</li>