<div ng-repeat="folder in folders | filter:show_folder(folder) | orderBy:'title'"
     id="folder-{{folder.id}}"
     class="folder-panel panel panel-default"
     data-folder-id="{{folder.id}}">

  <%# Link to open the folder and close the folder %>
  <a id="open-folder-{{folder.id}}"
     class="sidebar-folder list-group-item"
     ng-click="toggle_open_folder(folder)"
     data-sidebar-folder>

    <div class="row">

      <div class="col-xs-1 col-icon">
        <i class="folder-icon fa" ng-class="{'fa-folder-open-o':current_open_folder.id==folder.id, 'fa-folder-o': current_open_folder.id!=folder.id}"></i>
      </div>

      <div class="col-xs-7 col-md-6 col-title">
        <span class="sidebar-folder-title">{{folder.title}}</span>
      </div>

      <div class="col-xs-3 col-md-4 pull-right col-badge">
        <i class="hidden-sm folder-arrow pull-right fa" ng-class="{'fa-chevron-down':current_open_folder.id==folder.id, 'fa-chevron-right': current_open_folder.id!=folder.id}"></i>
        <span class="folder-unread-badge badge pull-right">{{folder_unread_entries(folder) | numberBadgeFltr}}</span>
      </div>

    </div>

  </a>

  <div id="feeds-{{folder.id}}" class="panel-collapse collapse"
       ng-class="{'in':current_open_folder.id==folder.id}">
    <div class="panel-body">

      <%# Content of the folder %>
      <ul class="nav nav-pills nav-stacked">

        <%= render 'read/sidebar/sidebar_folder_read_all' %>

        <%= render 'read/sidebar/sidebar_folder_feed' %>

      </ul>

      <%# Animated spinner while feeds are loading %>
      <div class="sidebar-spinner" ng-show="!feeds_loaded">
        <i class="fa fa-spinner fa-spin"></i>
      </div>

    </div>
  </div>

</div>