<div id="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <a id="start-page"><i class="icon-asterisk"></i> <%= t 'feeds.index.start' %></a>
    </li>
  </ul>

  <hr>

  <div id="folders-list" class="panel-group">

    <%= render 'read/sidebar/sidebar_folder', user: @user, feeds: @feeds, title: t('feeds.index.all_feeds'), folder: Folder::ALL_FOLDERS %>

    <% @folders.order('title ASC').each do |folder| %>

      <%= render 'read/sidebar/sidebar_folder', user: @user, feeds: folder.feeds, title: folder.title, folder: folder %>

    <% end %>

  </div>
</div>