<li id="all-feeds"
    ng-class="{active: current_folder.id=='all'}">
  <a data-sidebar-feed
     data-feed-id="all"
     ng-click="set_current_folder('all')">

    <div class="row">

      <div class="col-xs-1 col-icon">
          <i class="fa fa-rss"></i>
      </div>

      <div class="col-xs-8 col-feed-title">
        <em><strong>
          <span class="sidebar-feed-title"><%= t 'feeds.index.all_entries' %></span>
        </strong></em>
      </div>

      <div class="col-xs-2 pull-right col-badge">
        <span class="badge">{{folder_unread_entries('all') | numberBadgeFltr}}</span>
      </div>
    </div>

  </a>
</li>