<div id="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li ng-class="{active: current_feed==null && current_folder==null}">
      <a id="start-page"><i class="icon-asterisk"></i> <%= t 'feeds.index.start' %></a>
    </li>
  </ul>

  <hr>

  <div id="folders-list" class="panel-group" ng-cloak>

    <%= render 'read/sidebar/sidebar_folder_all' %>

    <%= render 'read/sidebar/sidebar_folder' %>

  </div>
</div>