<li id="folder-{{folder.id}}-all-feeds"
    ng-class="{active: current_folder.id==folder.id}"
    ng-show="show_all_subscriptions(folder)">
  <a data-sidebar-feed
     data-feed-id="all"
     ng-click="set_current_folder(folder)">

    <div class="row">

      <div class="col-xs-1 hidden-sm col-icon">
          <i class="feed-icon fa fa-rss"></i>
      </div>

      <div class="col-xs-8 col-title">
        <em><strong>
          <span class="sidebar-feed-title"><%= t 'read.index.all_entries' %></span>
        </strong></em>
      </div>

      <div class="col-xs-2 col-sm-3 col-md-2 pull-right col-badge">
        <span class="badge">{{folder_unread_entries(folder) | numberBadgeFltr}}</span>
      </div>

    </div>
  </a>
</li>