<li ng-repeat="feed in feeds | filter:feed_in_folder('none') | orderBy:'title'"
    ng-class="{active: current_feed.id==feed.id}">
  <a data-sidebar-feed
     data-feed-id="{{feed.id}}"
     data-folder-id="{{feed.folder_id}}"
     ng-click="set_current_feed(feed)">

    <div class="row">

      <div class="col-xs-1 col-icon">
        <em><strong>
          <i class="fa fa-rss"></i>
        </strong></em>
      </div>

      <div class="col-xs-8 col-feed-title">
        <span class="sidebar-feed-title" ng-bind-html="feed.title"></span>
      </div>

      <div class="col-xs-2 pull-right col-badge">
        <span class="badge">{{feed.unread_entries | numberBadgeFltr}}</span>
      </div>
    </div>
  </a>
</li>