<li ng-repeat="feed in feeds | filter:feed_in_folder('none') | orderBy:'title'"
    ng-class="{active: current_feed.id==feed.id}">
  <a data-sidebar-feed
     data-feed-id="{{feed.id}}"
     data-folder-id="{{feed.folder_id}}"
     ng-click="set_current_feed(feed)">

    <i class="fa fa-rss pull-left"></i>
    <span class="sidebar-feed-title">{{feed.title}}</span>
    <span class="badge pull-right">{{feed.unread_entries | numberBadgeFltr}}</span>
  </a>
</li>