<div ng-repeat="folder in folders | filter:{title:'all'} |orderBy:'title'"
     id="folder-{{folder.id}}"
     class="folder-panel panel panel-default"
     data-folder-id="{{folder.id}}">

  <%# Link to open the folder and close the folder %>
  <a data-sidebar-folder
     data-toggle="collapse"
     data-target="#feeds-{{folder.id}}"
     data-parent="#folders-list"
     class="sidebar-folder list-group-item"
     ng-click="open_folder(folder)">

    <i class="folder" ng-class="{'icon-folder-open-alt':current_open_folder.id==folder.id, 'icon-folder-close-alt': current_open_folder!=folder}"></i>
    &nbsp;{{folder.title}}
    <i class="folder-arrow pull-right" ng-class="{'icon-chevron-down':current_open_folder==folder, 'icon-chevron-right': current_open_folder!=folder}"></i>

  </a>

  <div id="feeds-{{folder.id}}" class="panel-collapse collapse">
    <div class="panel-body">

      <%# Content of the folder %>
      <ul class="nav nav-pills nav-stacked">

        <%= render 'read/sidebar/sidebar_folder_read_all' %>

        <%= render 'read/sidebar/sidebar_feed' %>

      </ul>

    </div>
  </div>

</div>