<li id="folder-{{folder.id}}-all-feeds"
    ng-class="{active: current_folder==folder}">
  <a data-sidebar-feed
     data-feed-id="all"
     ng-click="set_current_folder(folder)">
    <em><strong>
      <i class="icon-rss pull-left"></i>
      <span class="sidebar-feed-title"><%= t 'feeds.index.all_entries' %></span>
    </strong></em>
    <span class="badge pull-right">{{folder.unread_entries | numberBadgeFltr}}</span>
  </a>
</li>