<li ng-repeat="feed in feeds | filter:feed_in_folder(folder) | orderBy:'title'">
  <a data-sidebar-feed
     data-feed-id="{{feed.id}}"
     data-feed-path="/feeds/{{feed.id}}"
     data-feed-title="{{feed.title}}"
     data-feed-url="{{feed.url}}"
     data-folder-id="{{feed.folder_id}}"
     ng-click="set_current_feed(feed)">

    <i class="icon-rss"></i> {{feed.title}}&nbsp;&nbsp;&nbsp;<i class="icon-spinner hidden"></i>
    <span class="badge pull-right">{{feed.unread_entries}}</span>
  </a>
</li>