<h1><%= t 'devise.mailer.confirmation_instructions.header', name: @email %></h1>

<p><%= t 'devise.mailer.confirmation_instructions.confirmation' %></p>

<p><h2><%= link_to t('devise.mailer.confirmation_instructions.confirm_link'), confirmation_url(:confirmation_token => @token, locale: I18n.locale) %></h2></h2></p>

<p><small><%= t 'devise.mailer.confirmation_instructions.note_html', link: link_to('feedbunch.com', root_url(locale: I18n.locale)) %></small></p>
