<p><%= I18n.t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= I18n.t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url).html_safe %></p>

<p>
  <h2>
    <%=
        link_to I18n.t("devise.mailer.invitation_instructions.accept"),
                 accept_invitation_url(@resource, :invitation_token => @token),
                 style: MailerButtonStyler.button_style
    %>
  </h2>
</p>

<p><%= I18n.t("devise.mailer.invitation_instructions.ignore") %></p>
