<div class="row buttonbar">

  <div class="col-md-2">

  </div>

  <div class="col-md-2">
    <a id="unsubscribe-feed" class="btn btn-danger disabled hidden">
      <i class="icon-remove-sign"></i> <%= t 'feeds.index.unsubscribe' %>
    </a>
  </div>

</div>
<hr>