<li>
  <a data-folder-update-path="<%= folder_path folder, format: :json %>" data-folder-id="<%= folder.id %>" data-feed-id>
    <i class="hidden icon-ok"></i>&nbsp;
    <%= folder.title %>
  </a>
</li>