<button id="toggle-menu-collapse"
        type="button"
        class="navbar-toggle pull-left navbar-toggle-left"
        data-toggle="collapse"
        data-target=".navbar-collapse">
  <i class="fa fa-bars fa-lg"></i>
</button>