<%# Alert about cookie use, to comply with EU law %>
<div id="cookie-notice" class="alert alert-info alert-dismissible fade in text-center">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p><%= t 'layouts.cookies' %></p>
</div>