<hr>
<div id="footer" class="row">
  <div class="col-md-3 col-md-offset-5">
    <i class="icon-github icon-large"></i> <a href="https://github.com/amatriain/feedbunch" target="_blank">
      <%= t 'layouts.application.github' %>
    </a>
  </div>
</div>