<hr>
<div id="footer">

  <a href="https://github.com/amatriain/feedbunch"
     target="_blank"
     data-toggle="tooltip"
     data-placement="top"
     title="<%= t 'layouts.footer.github' %>">
    <i class="fa fa-github fa-2x fa-fw" data-toggle="tooltip"></i></a>

  <a href="https://twitter.com/feedbunch"
     target="_blank"
     data-toggle="tooltip"
     data-placement="top"
     title="<%= t 'layouts.footer.twitter' %>">
    <i class="fa fa-twitter fa-2x fa-fw" data-toggle="tooltip"></i></a>

</div>