<% cache "noscript_warning-#{I18n.locale}" do %>

  <noscript>
    <div id="noscript-warning" class="alert alert-danger top-alert">
      <p class="text-center"><%= t 'layouts.noscript' %></p>
    </div>
  </noscript>

<% end %>